.container {
  padding: 20px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
  min-height: 186px;
}
.icon {
  width: 45px !important;
  height: 45px;
}
.title {
  margin-top: 10px;
}
.content {
  margin-top: 10px;
}
